# This workflow is triggered every saturday at 8 am UTC time to run faang.py script.

name: Scheduled Workflow

# Controls when the action will run. Workflow runs on a scheduled day at 8 am UTC
on:
  schedule:
    # https://www.edstem.com/Leveraging-GitHub-Actions-for-Scheduled-Workflows/#:~:text=Setting%20Up%20Scheduled%20Workflows,schedule%20using%20the%20schedule%20event.
    # https://help.qlik.com/en-US/compose/December2024/Content/ComposeDWDL/Main/DW/Cron%20Format%20and%20Examples/cron_format_and_example.htm#:~:text=A%20cron%20expression%20is%20a,special%20characters%20for%20that%20field.
    - cron: '00 08 * * 6' # Runs every Saturday at 08:00 PM UTC

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "plot_stock_price"
  plot_stock_price:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: checkout repo content
      uses: actions/checkout@v4 # checkout the repository content to github runner

    - name: setup python
      uses: actions/setup-python@v5
      with:
          python-version: '3.9' # install the python version needed
     
    - name: install python packages
      run: |
        python -m pip install --upgrade pip
        pwd
        pip install -r requirements.txt

    # # Runs a single command using the runners shell
    # - name: run faang.py 
    #   run: |
    #     pwd
    #     python3 faang.py
